* {
  box-sizing: border-box;
}

.DrumMachine {
  text-align: center;
  margin: 50px auto;
  width: 60%;
  border: 2px solid rgba(30,30,30,0.6);
  border-radius: 20px;
  background: rgba(20,20,20,0.9);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.keypad {
  width: 60%;
  margin: 0;
  padding: 0;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 1rem;
  border-radius: 20px;
  border: 2px solid rgba(30,30,30,0.6);
}

.drum-pad {
  border: 2px solid #666;
  color: #b2b2b2;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.active {
  animation: btnActive 0.15s;
}

@keyframes btnActive {
  0% {
    background: rgb(20,20,20);
  }

  100% {
    background: #C2F970;
    color: #666;
  }
}

/* Controls */

.controls {
  width: 38%;
  border: 2px solid rgba(30,30,30,0.6);
  border-radius: 20px;
  padding: 1rem;
  text-align: left;
  color: #b1b1b1;
}

.power-label,
.bank-label {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  /* color: #111; */
}
.power,
.bank {
  width: 70px;
  background: black;
  height: 30px;
  padding: 2px;
}


.switch,
.switch-bank {
  width: 50%;
  height: 100%;
  background: #C2F970;
}

.volume {
  margin-top: 20px;
}

.display {
  height: 50px;
  background: #999;
  border-radius: 10px;
  text-align: center;
  color: #222;
}
